h1 {color:red;}

section h2 {border: 5px solid blue;}
section p {border: 3px solid green;}
section p {padding-right;} 
section  {border-left: solid aqua;}
section  {border-right: solid aquamarine;} 
section  {min-width: min-content gold;}
section  {max-height: max-content silver;}
section  {margin-bottom: 10cqmin ;}
section  {margin-top: 10cqmax;}
h1 {border-top: 10cqmax 7px solid blueviolet;}
h1 {text-align: center;}
body {text-align: center;}
section  {border-bottom: 2px solid yellow;}















